h1{
    color:blue;
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    }


    .navbar {
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .navbar a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .navbar a:hover {
        background: #ddd;
        color: black;
      }
#mainpage {
    top:10%;
    height: 100vh;
}

#links #link1{
    position: absolute;
    left: 10%;
    top:30%;
}

#links #link2{
    position: absolute;
    left: 10%;
    top:38%;
}

#links #link3{
    position: absolute;
    left: 10%;
    top:46%;
}

#links #link4{
    position: absolute;
    left: 10%;
    top:54%;
}

#links #link5{
    position: absolute;
    left: 10%;
    top:62%;
}
#links #link6{
    position: absolute;
    left: 10%;
    top:70%;
}


section {
    height: 100vh;
  }


#mainpage #home{
    position: absolute;
    top:30%;
    left:30%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
   
}
#mainpage{
    background: url(https://www.kindpng.com/picc/m/96-969547_cartoon-medical-staff-medical-staff-cartoon-hd-png.png) no-repeat center;
}
.navbar #home1
{
    position: absolute;
    top:30%;
    left:5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#contents #para
{
    position: relative;
    top: 30%;
    font-family: times 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    left: 20%;
}
